version: "3.9"
services:
  api:
    build: .
    ports:
      - "8787:8787"
    env_file:
      - ./apps/server/.env
    environment:
      WORKER_EXECUTION_MODE: "off"
    volumes:
      - ./data:/app/data
      - ./apps/server/data:/app/apps/server/data

  worker:
    build: .
    command: ["node", "worker.js"]
    env_file:
      - ./apps/server/.env
    environment:
      WORKER_EXECUTION_MODE: "worker"
    volumes:
      - ./data:/app/data
      - ./apps/server/data:/app/apps/server/data
